In [ ]:
# Instalar la librería findspark
# Va a permitir encontrar spark dentro de nuestra maquina

!pip install -q findspark

# Instalar pyspark

!pip install -q pyspark

# Como crear una sesión de spark (SparkSession)

import findspark
findspark.init() # Es de utilidad para encontrar donde esta la instalacion de spark en mi computadora

from pyspark.sql import SparkSession # Importar el sparksession

spark = SparkSession.builder.getOrCreate() # Crear la sesion de spark (sparksession)
sc = spark.sparkContext # Crear el contexto de spark

In [ ]:
df = spark.read.option('header', 'true').parquet('/content/data/dataPARQUET.parquet')

In [ ]:
df.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: string (nullable = true)
 |-- likes: string (nullable = true)
 |-- dislikes: string (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [ ]:
# Sentencia ".select('col1')"
df.select('video_id').show()

+-----------+
|   video_id|
+-----------+
|2kyS6SvSYSE|
|1ZAPwfrtAFY|
|5qpjK5DgCt4|
|puqaWrEC7tY|
|d380meD0W0M|
|gHZ1Qz0KiKM|
|39idVpFF7NQ|
|nc99ccSXST0|
|jr9QtXwC9vc|
|TUmyygCMMGA|
|9wRQljFNDW8|
|VifQlJit6A0|
|5E4ZBSInqUU|
|GgVmn66oK_A|
|TaTleo4cOs8|
|kgaO45SyaO4|
|ZAQs-ctOqXQ|
|YVfyYrEmzgM|
|eNSN6qet1kE|
|B5HORANmzHw|
+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

In [ ]:
df.select(F.col('video_id')).show()

+-----------+
|   video_id|
+-----------+
|2kyS6SvSYSE|
|1ZAPwfrtAFY|
|5qpjK5DgCt4|
|puqaWrEC7tY|
|d380meD0W0M|
|gHZ1Qz0KiKM|
|39idVpFF7NQ|
|nc99ccSXST0|
|jr9QtXwC9vc|
|TUmyygCMMGA|
|9wRQljFNDW8|
|VifQlJit6A0|
|5E4ZBSInqUU|
|GgVmn66oK_A|
|TaTleo4cOs8|
|kgaO45SyaO4|
|ZAQs-ctOqXQ|
|YVfyYrEmzgM|
|eNSN6qet1kE|
|B5HORANmzHw|
+-----------+
only showing top 20 rows

In [ ]:
# Funciones: F.col y .alias('Nuevo_Nombre')
# Con F.col() puedo hacer calculo de columnas combinadas, tal cual sql
# Despues del select puedo llamar un atributo o hacer calculos con esos atributos
# Funcion .alias() permite renombrar campos calculados como query de sql, solo que hay que encerrar en parentesis el calculo para usarla
df.select(
    F.col('likes'),
    F.col('dislikes'),
    (F.col('likes') - F.col('dislikes')).alias('likes_netos_val'),
    (F.col('likes') / F.col('dislikes')).alias('ratio_likes_dislikes_val')
    ).show()

+------+--------+---------------+------------------------+
| likes|dislikes|likes_netos_val|ratio_likes_dislikes_val|
+------+--------+---------------+------------------------+
| 57527|    2966|        54561.0|      19.395482130815914|
| 97185|    6146|        91039.0|      15.812723722746501|
|146033|    5339|       140694.0|       27.35212586626709|
| 10172|     666|         9506.0|      15.273273273273274|
|132235|    1989|       130246.0|       66.48315736551031|
|  9763|     511|         9252.0|      19.105675146771038|
| 15993|    2445|        13548.0|       6.541104294478528|
| 23663|     778|        22885.0|       30.41516709511568|
|  3543|     119|         3424.0|       29.77310924369748|
| 12654|    1363|        11291.0|       9.283932501834188|
|   655|      25|          630.0|                    26.2|
|  1576|     303|         1273.0|       5.201320132013201|
|114188|    1333|       112855.0|       85.66241560390098|
|  7848|    1171|         6677.0|        6.70196413321947|
|  7473|     246|         7227.0|      30.378048780487806|
|  9419|      52|         9367.0|       181.1346153846154|
|  8011|     638|         7373.0|      12.556426332288401|
|  5398|      53|         5345.0|      101.84905660377359|
| 11963|      36|        11927.0|      332.30555555555554|
|  8421|     191|         8230.0|      44.089005235602095|
+------+--------+---------------+------------------------+
only showing top 20 rows

In [ ]:
# Sentencia: .selectExpr()
# Permite escribir expresiones sql dentro del select

df.selectExpr(
    'likes AS likes_val',
    'dislikes AS dislikes_val',
    'likes - dislikes AS likes_netos_val_expr',
    'likes / dislikes AS ratio_likes_dislikes_expr'
).show()

+---------+------------+--------------------+-------------------------+
|likes_val|dislikes_val|likes_netos_val_expr|ratio_likes_dislikes_expr|
+---------+------------+--------------------+-------------------------+
|    57527|        2966|             54561.0|       19.395482130815914|
|    97185|        6146|             91039.0|       15.812723722746501|
|   146033|        5339|            140694.0|        27.35212586626709|
|    10172|         666|              9506.0|       15.273273273273274|
|   132235|        1989|            130246.0|        66.48315736551031|
|     9763|         511|              9252.0|       19.105675146771038|
|    15993|        2445|             13548.0|        6.541104294478528|
|    23663|         778|             22885.0|        30.41516709511568|
|     3543|         119|              3424.0|        29.77310924369748|
|    12654|        1363|             11291.0|        9.283932501834188|
|      655|          25|               630.0|                     26.2|
|     1576|         303|              1273.0|        5.201320132013201|
|   114188|        1333|            112855.0|        85.66241560390098|
|     7848|        1171|              6677.0|         6.70196413321947|
|     7473|         246|              7227.0|       30.378048780487806|
|     9419|          52|              9367.0|        181.1346153846154|
|     8011|         638|              7373.0|       12.556426332288401|
|     5398|          53|              5345.0|       101.84905660377359|
|    11963|          36|             11927.0|       332.30555555555554|
|     8421|         191|              8230.0|       44.089005235602095|
+---------+------------+--------------------+-------------------------+
only showing top 20 rows

In [ ]:
# Sentencia: .selectExpr()
# Permite escribir expresiones sql dentro del select

df.selectExpr(
  'COUNT (DISTINCT video_id) AS videos_unicos_val'
).show()

+-----------------+
|videos_unicos_val|
+-----------------+
|             6837|
+-----------------+