In [1]:
# Instalar la librería findspark
# Va a permitir encontrar spark dentro de nuestra maquina

!pip install -q findspark

# Instalar pyspark

!pip install -q pyspark

# Como crear una sesión de spark (SparkSession)

import findspark
findspark.init() # Es de utilidad para encontrar donde esta la instalacion de spark en mi computadora

from pyspark.sql import SparkSession # Importar el sparksession

spark = SparkSession.builder.getOrCreate() # Crear la sesion de spark (sparksession)
sc = spark.sparkContext # Crear el contexto de spark

from pyspark.sql import functions as F # Importar funciones de spark

In [3]:
df = spark.read.parquet('/content/datos.parquet')

In [6]:
# Funcion Count
df.count()

# El df tiene 48,137 tuplas

48137

In [7]:
# Funcion Distinct

df.distinct().count()

# Pero el df solo tiene 41,428 tuplas , i.e hay 9 tuplas duplicadas

41428

In [8]:
# Funcion dropDuplicates
# Es analogo a la función distinct
# Puedo darle una lista de atributos sobre la que quiero operar, o ninguno para que se ejecute sobre todo el dataframe

df.dropDuplicates().count()

# Pero el df solo tiene 41,428 tuplas , i.e hay 9 tuplas duplicadas

41428

In [11]:
# Funcion dropDuplicates
# Puedo darle una lista de atributos sobre la que quiero operar, o ninguno para que se ejecute sobre todo el dataframe
# Para operar sobre columnas especificas debo ingresar corchetes aunque la lista solo sea de un atributo
df.dropDuplicates(['video_id']).count()

# Encontro 6,837 codigos de video unicos

6837