In [1]:
# Instalar la librería findspark
# Va a permitir encontrar spark dentro de nuestra maquina

!pip install -q findspark

# Instalar pyspark

!pip install -q pyspark

# Como crear una sesión de spark (SparkSession)

import findspark
findspark.init() # Es de utilidad para encontrar donde esta la instalacion de spark en mi computadora

from pyspark.sql import SparkSession # Importar el sparksession

spark = SparkSession.builder.getOrCreate() # Crear la sesion de spark (sparksession)
sc = spark.sparkContext # Crear el contexto de spark

from pyspark.sql import functions as F # Importar funciones de spark

In [3]:
df = spark.read.parquet('/content/datos.parquet')

In [4]:
# Función drop
# Recibe como argumento las columnas que se van a eliminar del df

df.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: timestamp (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [9]:
df_util = df.drop('comments_disabled',
                  'ratings_disabled',
                  'thumbnail_link')

In [10]:
df_util.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: timestamp (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [11]:
# Sample
# Devuelve un conjunto de filas aleatorio del dataframe especificado en el argumento

df_muestra = df.sample(0.8) # Una muestra de 80% de las filas del dataframe

# Ojo que devuelve un numero aproximadamente de 80%, no el 80% exacto

In [13]:
print(df.count())
print(df_muestra.count())

48137
38502

In [14]:
# Si quiero replicar el muestreo, debo definir una semilla como argumento de la función

df_muestra_dos = df.sample(fraction = 0.8,
                           seed = 1234)

In [15]:
df_muestra_dos.count()

38506

In [16]:
# Funcion randomSploot
# Se usa en Machine Learning
# Devuelve tantos dataframes como se los especifiquemos
# Primero se definnen los nombres de los datafrmes
# Luego se definie la función y sus argumentos, se debe ingresar en forma de lista y la suma de ambos valores de la lista debe sumar 1

train, test = df.randomSplit([0.8, 0.2]) # El 80% de las filas se asignan al dataframe train y el 20% se asignan al dataframe test

In [17]:
print(train.count())
print(test.count())

38567
9570

In [18]:
# Funcion randomSploot
# Tambien puedo pasar un argumento de semilla para que la función sea replicable


train, test = df.randomSplit([0.8, 0.2],
                             seed = 1234) # El 80% de las filas se asignan al dataframe train y el 20% se asignan al dataframe test